.big-size{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
span{
    color: orange;
}
.about{
    font-size: 20px;
}
.flex-container{
    display: flex;
    padding-left: 50px;
}
.half-width{
    display: 80%;
    width: 50%;
}
.half-width img{
    padding-left: 10em;
    width: 50%;
    padding-left: 45%;
    
}
.order-button{
    font-size: 15px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 8px 22px;
    border-radius: 35px;
}


.second-floor{
    display: flex;
  background-image: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
}
.half-width-two img{
width: 40%;
padding-top: 1em;
padding-left: 25em;
}
.half-width-two{
    width: 80%;
    padding-right: 10em;
    padding-left: em;
    padding-top: 2em;
    text-align: justify;   
}
.second-floor p{
    font-size: 18px;
}
.head-two{
    text-align: center;
}
.recipies{
    text-align: center;
    padding-left: 28em;
    padding-right: 28em;
}
.flex-burger{
    display: flex;
    padding: 11em;
    padding-right: 10em;
}
.cheese-burger-one{
    width: 400px;
    padding-right: 8em;
}
.cheese-burger-one img{
    width: 400px;
}
.cheese-burger-one p{
    text-align: justify;
}
.cheese-burger-two{
    width: 400px;
}   
.cheese-burger-two img{
    width: 400px;
}
.cheese-burger-three{
    width: 400px;
    padding-left: 8em;
}
.cheese-burger-three img{
    width: 400px;
    
}